body {
    background-image: url('https://wallpapers.com/images/hd/nintendo-christmas-pattern-yj25angjmitsa5qf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
